footer {
  position: relative;
  bottom: 0;
  background-color: #111827;
}
footer .info div {
  width: 25%;
  padding: 5px;
}
footer .info .apropos {
  width: 35%;
}
.separator {
  width: 70%;
  background-color: #313a4c;
  height: 2px;
}
