nav {
  height: 80px;
}
.logo {
  width: 80px;
  height: 70px;
}
.search-bar .search-icon {
  position: absolute;
}
.nav-list li :hover {
  color: var(--color-text-primary);
  transition: 0.5s;
}
.left-side {
  width: 40%;
}
.sticky-top {
  position: fixed !important;
  top: 0px;
  animation: stickySlideDown 1s cubic-bezier(0.23, 1, 0.32, 1) both;
}
@keyframes stickySlideDown {
  from {
    opacity: 0;
    transform: translateY(-80px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
