@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@theme {
  --color-primary: #003366;
  --color-secondary: #00c49a;
  --color-text-primary: #2c2c2c;
  --color-text-secondary: #3a3a3a;
  --color-bg: #f8f9fa;
  --color-bg-secondary: #f1f1f1;
  --color-white: #fefefe;
  --color-gray: #b0b0b0;
  --font-base: "Roboto", sans-serif;
  --spacing-base: 1rem;
}

:root {
  font-family: "Roboto", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-bg);
}
